.dashboard-cards {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.highlight {
  color: #16a34a;
  font-weight: 600;
}
@media (max-width: 768px) {
  .dashboard-cards {
    grid-template-columns: 1fr;
  }
}
