.forgot-container {
   min-height: 100vh;
  background: linear-gradient(180deg, #0f2027, #203a43, #2c5364);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.forgot-content {
  width: 100%;
  max-width: 360px;
  padding: 24px;
  text-align: center;
  color: #fff;
}

.forgot-content input {
  width: 100%;
  padding: 12px;
  margin: 16px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}
